<section>

    <div class="album py-5 bg-light">

        <div class="mx-5">
            <h2 class="text-uppercase"> About us </h2>
            <hr>
        </div>


        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Apolline Stevenin</h5>
                            <p class="card-text">Former cook, eager to start a new job as web developer =D</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">email | apollinecanard@gmail.com</li>
                            <li class="list-group-item">github | <a href="https://github.com/ApollineStev/">ApollineStev</a></li>
                        </ul>
                        <img class="mx-auto" style="width: 280px;" src="/" class="card-img-top img-responsive" alt="(name) image">
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase">Yeonhwa Park</h5>
                            <p class="card-text">Korean living in Valencia, Spain. </br> Looking forward to live as a nomadcoder :) </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">email | yonapark@proton.me </li>
                            <li class="list-group-item">github | <a href="https://github.com/yosoyyona/">yosoyyona</a></li>
                        </ul>
                        <img class="mx-auto" style="width: 280px;" src="https://media.licdn.com/dms/image/D4E03AQEM86BpRLMlYA/profile-displayphoto-shrink_200_200/0/1677758124274?e=1684972800&v=beta&t=5jzk3D5-HDu96RsSnynpHn2qqq8NfKT0dDj5DR61Rug" class="card-img-top img-responsive" alt="Yeonhwa Park image">
                    </div>
                </div>

            </div>
        </div>



    </div>

</section>
