<section>

    <div class="album py-5 bg-light">

        <div class="mx-5">
            <h2> Recipes recently uploaded </h2>
            <hr>
        </div>

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card">
                        <img src="/images/kitchen-img.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Ingredients</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">cuisine</li>
                            <li class="list-group-item">dish type</li>
                            <li class="list-group-item">cooking time</li>
                            <li class="list-group-item">difficulty</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-success">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/images/kitchen-img.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Ingredients</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">cuisine</li>
                            <li class="list-group-item">dish type</li>
                            <li class="list-group-item">cooking time</li>
                            <li class="list-group-item">difficulty</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-success">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/images/kitchen-img.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Ingredients</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">cuisine</li>
                            <li class="list-group-item">dish type</li>
                            <li class="list-group-item">cooking time</li>
                            <li class="list-group-item">difficulty</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-success">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mx-5 mt-5">
            <h2> Recipes most liked </h2>
            <hr>
        </div>

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card">
                        <img src="/images/kitchen-img.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Ingredients</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">cuisine</li>
                            <li class="list-group-item">dish type</li>
                            <li class="list-group-item">cooking time</li>
                            <li class="list-group-item">difficulty</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-success">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/images/kitchen-img.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Ingredients</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">cuisine</li>
                            <li class="list-group-item">dish type</li>
                            <li class="list-group-item">cooking time</li>
                            <li class="list-group-item">difficulty</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-success">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/images/kitchen-img.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Ingredients</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">cuisine</li>
                            <li class="list-group-item">dish type</li>
                            <li class="list-group-item">cooking time</li>
                            <li class="list-group-item">difficulty</li>
                        </ul>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-success">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>