<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body class="bg-light">
      <header class="p-3 text-bg-success">
         <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
               <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <img src="/images/logo.png" width="80" aria-label="Bootstrap">
               </a>

               <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/" class="nav-link px-2 text-warning">Home</a></li>
                  <li><a href="/recipes" class="nav-link px-2 text-white">Recipes</a></li>
                  <li><a href="/random" class="nav-link px-2 text-white">Random recipe</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">About us</a></li>
               </ul>

               <form action="/recipes-search" class="d-flex col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input name="wordToSearch" type="search" class="form-control form-control-dark text-bg-light" placeholder="" aria-label="Search">
                  <button class="btn btn-outline-warning me-1" type="submit">Search</button>
               </form>

                  
               
                  <button type="button" class="btn btn-outline-light me-2"><a href="/login" class="text-decoration-none text-white">Login</a></button>
                  <button type="button" class="btn btn-warning"><a href="/signup" class="text-decoration-none text-success">Sign-up</a></button>

                  <button type="button"> <a href="/axios">recipe axios</a></button>
               
            </div>
         </div>
      </header>


      {{{body}}}

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script src="/js/script.js"></script>
   </body>

</html>
