<section>

    <div class="album py-5 bg-light">

        <div class="mx-5">
            <h2> {{recipe.title}} </h2>
            <hr>
        </div>

        <div> 
            {{recipe.description}}
            
            <img src="{{recipe.imgeUrl}}">

        </div>












    </div>
    
</section>